*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-with: 600px) {
  header {
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }
}

input#red {
  accent-color: red;
}

input#green {
  accent-color: green;
}

input#blue {
  accent-color: blue;
}

@media screen and (min-width: 600px) {
  #color-value {
    margin-left: auto;
  }
}

#btn-random {
  margin: 0;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}
